style(type='text/css').
  body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
  }
  .header {
    text-align: center
  }
  .header h1 {
    font-size: 2.5em;
    padding-top: 20px;
  }
  .form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  #input-htlid, #input-password, #button-eye, #button-eye-slash {
    border-radius: 0.25rem;
  }

  @media (max-height: 400px) {
    body {
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .header h1 {
      padding-top: 5px;
      font-size: 1.5em;
      margin-bottom: 0px;
    }
    .header img {
      width: 20%;
      height: 20%;
    }
    .form-signin {
      padding-top: 5px;  
    }
  }
  
