<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8">
            <div class="container-fluid">
                <div class="jumbotron">
                    <p>
                        {{statusmessage}}
                    </p>
                </div>
                <div class="alert alert-warning alert-dismissable fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Warning! </strong>{{warning_message}}
                </div>
                <div class="alert alert-danger alert-dismissable fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>Error! </strong>{{error_message}}
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <h3 class="text-center">Fütterungszeiten</h3>
            <div class="container-fluid">
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="text-right">
                                <h4>Zeit 1:</h4>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="time" class="btn-secondary" value="10:10" disabled>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">
                                <h4>Zeit 2:</h4>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="time" class="btn-secondary" value="11:11" disabled>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">
                                <h4>Zeit 3:</h4>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="time" class="btn-secondary" value="12:12" disabled>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">
                                <h4>Zeit 4:</h4>
                            </td>
                            <td>
                                <div class="input-group">
                                    <input type="time" class="btn-secondary" value="13:13" disabled>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>