<div class="container-fluid">
    <h1>Update</h1>
</div>
<div class="container-fluid">
    <h4>Klick the button to check for updates:</h4><br>
    <button type="button" class="btn btn-secondary btn-lg" data-toggle="modal" data-target="#myModal">Check for updates</button>
</div>
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>Checking for updates...</p>
            </div>
        </div>

    </div>
</div>