<!DOCTYPE html>
<html lang="en">

<head>
    <title>Füttr - Not Found</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="font" href="https://fonts.googleapis.com/css?family=Allerta">
</head>

<body class="container-fluid">
    <br>
    <div class="container-fluid" style="font-size: 40px; font-family: 'Allerta', sans-serif;">
        The requested url does not exist on this server <span style="color: #c24e4e">(404)</span>
    </div>
</body>

</html>