<!DOCTYPE html>
<html lang="en">

<head>
    <title>Füttr</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>

<body class="container-fluid">
    <header>
        <h1>Update in progress</h1>
        Click <a href="http://sorogon.duckdns.org">here</a> to check if the server is restarted...
    </header>
</body>

</html>