<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>VS Code Extensions</title>
    <base href="/">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>
    <h1 class="container-fluid">VSCode Extensions</h1>
    <br>
    <ul>
        <li><a class="btn btn-outline-info btn-sm" href="https://marketplace.visualstudio.com/items?itemName=johnpapa.Angular2"><strong>Angular v4 TypeScript Snippets</strong></a> by johnpapa</li>
        <li><a class="btn btn-outline-info btn-sm" href="https://marketplace.visualstudio.com/items?itemName=hnw.vscode-auto-open-markdown-preview"><strong>Auto-Open Markdown Preview</strong></a> by hnw</li>
        <li><a class="btn btn-outline-info btn-sm" href="https://marketplace.visualstudio.com/items?itemName=HookyQR.beautify"><strong>Beautify</strong></a> by HookyQR</li>
        <li><a class="btn btn-outline-info btn-sm" href="https://marketplace.visualstudio.com/items?itemName=CoenraadS.bracket-pair-colorizer"><strong>Bracket Pair Colorizer</strong></a> by CoenraadS</li>
        <li><a class="btn btn-outline-info btn-sm" href="https://marketplace.visualstudio.com/items?itemName=AESSoft.aessoft-class-autocomplete"><strong>Class autocomplete for HTML</strong></a> by AES Soft</li>
        <li><a class="btn btn-outline-info btn-sm" href="https://marketplace.visualstudio.com/items?itemName=codezombiech.gitignore"><strong>gitignore</strong></a> by CodeZombie</li>
        <li><a class="btn btn-outline-info btn-sm" href="https://marketplace.visualstudio.com/items?itemName=ecmel.vscode-html-css"><strong>HTML CSS Support</strong></a> by ecmel</li>
        <li><a class="btn btn-outline-info btn-sm" href="https://marketplace.visualstudio.com/items?itemName=abusaidm.html-snippets"><strong>HTML Snippets</strong></a> by Mohamed Abusaid</li>
        <li><a class="btn btn-outline-info btn-sm" href="https://marketplace.visualstudio.com/items?itemName=hwencc.html-tag-wrapper"><strong>html tag wrapper</strong></a> by hwencc</li>
        <li><a class="btn btn-outline-info btn-sm" href="https://marketplace.visualstudio.com/items?itemName=xabikos.JavaScriptSnippets"><strong>JavaScript (ES6) code snippets</strong></a> by charalampos karypidis</li>
        <li><a class="btn btn-outline-info btn-sm" href="https://marketplace.visualstudio.com/items?itemName=lonefy.vscode-JS-CSS-HTML-formatter"><strong>JS-CSS-HTML Formatter</strong></a> by lonefy</li>
        <li><a class="btn btn-outline-info btn-sm" href="https://marketplace.visualstudio.com/items?itemName=AESSoft.aessoft-class-autocomplete"><strong>Lorem Ipsum</strong></a> by Daniel Imms</li>
        <li><a class="btn btn-outline-info btn-sm" href="https://marketplace.visualstudio.com/items?itemName=eg2.vscode-npm-script"><strong>npm</strong></a> by egamma</li>
        <li><a class="btn btn-outline-info btn-sm" href="https://marketplace.visualstudio.com/items?itemName=christian-kohler.npm-intellisense"><strong>npm Intellisense</strong></a> by Christian Kohler</li>
        <li><a class="btn btn-outline-info btn-sm" href="https://marketplace.visualstudio.com/items?itemName=wmontalvo.vsc-jsonsnippets"><strong>Snippet for JSON</strong></a> by Wilson Montalvo</li>
        <li><a class="btn btn-outline-info btn-sm" href="https://marketplace.visualstudio.com/items?itemName=eg2.tslint"><strong>TSLint</strong></a> by egamma</li>
        <li><a class="btn btn-outline-info btn-sm" href="https://marketplace.visualstudio.com/items?itemName=emmanuelbeziat.vscode-great-icons"><strong>VSCode Great Icons</strong></a> by Emmanuel Béziat</li>
    </ul>
</body>

</html>