<div class="container-fluid">
    <h1>Steuerung</h1>
    <!-- <label>Click me: <input type="checkbox" ng-model="checked" ng-init="checked=true" /></label><br/> Show when checked:
    <span ng-if="checked">
      This is removed when the checkbox is unchecked.
    </span> -->
    <div class="form-check container-fluid">
        <label class="form-check-label">
    <input type="checkbox" ng-model="button-on" ng-init="button-on=true" class="form-check-input"> manuelle Steuerung
  </label>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="container-fluid">
                    <h3>Zylinder</h3>
                    <button class="btn-success" ng-if="button-on">einfahren</button>
                    <button class="btn-danger">ausfahren</button>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="container-fluid">
                    <h3>Förderband</h3>
                    <button class="btn-success">ein</button>
                    <button class="btn-danger">aus</button>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="container-fluid">
                    <h3>Motor</h3>
                    <button class="btn-primary">links</button>
                    <button class="btn-warning">rechts</button>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <div class="col-lg-8">
                <h3>Positions-info</h3>
            </div>
        </div>
    </div>
</div>