doctype html
html(lang="de")
head
    title= "Test Server"
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    include links.pug
body.container
    h1 Mitteilung
    p Lieber #{name}
    p Die Seite ist unter Bearbeitung