doctype html
html(lang="en")
  head
    title= "Webserver"
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    base(href="/")
    //- link(rel="stylesheet", href="node_modules/bootstrap/dist/css/bootstrap.min.css")
    link(rel="icon", type="image/x-icon" href="favicon.ico")
    script(src="node_modules/spin/dist/spin.min.js")
  body
    app-root
      #spinner(style="position:absolute; top:50%; left:50%;")
        script(type='text/javascript')
          | var spinner = new Spinner().spin()
          | document.getElementById("spinner").appendChild(spinner.el)
      script(src="ng2/inline.bundle.js")
      script(src="ng2/polyfills.bundle.js")
      script(src="ng2/styles.bundle.js")
      script(src="ng2/vendor.bundle.js")
      script(src="ng2/main.bundle.js")