<nav class="navbar fixed-top navbar-toggleable-sm navbar-inverse" style="background-color: #191816;">
    <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#Navbar" aria-controls="Navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" routerLink="/home"><img alt="Brand" src="../favicon.ico" width="26"></a>


    <div class="collapse navbar-collapse" id="Navbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a class="nav-link" routerLink="/home">Home</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/feed">Fütterung</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="/control">Steuerung</a></li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" id="dropdown" aria-haspopup="true" aria-expanded="false">Einstellungen</a>
                <div class="dropdown-menu" aria-labelledby="dropdown">
                    <a class="dropdown-item" routerLink="/info">Geräteinfo</a>
                    <a class="dropdown-item" routerLink="/update">Update</a>
                </div>
            </li>
        </ul>
        <span class="nav-link" style="color:#c6bfb9">{{Time}}</span>
    </div>
</nav>
<p><br><br></p>
<router-outlet></router-outlet>