<div class="container-fluid">
    <h1>Fütterungszeiten</h1>
    <br>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center" scope="col">Zeiten</th>
                        <th class="text-center" scope="col">Aktiv</th>
                        <th class="text-center" scope="col">Uhrzeit</th>
                    </tr>
                </thead>
                <tr>
                    <td class="text-center">
                        Zeit 1
                    </td>
                    <td class="text-center">
                        <input type="checkbox">
                    </td>
                    <td class="text-center">
                        <input type="time" [(ngModel)]="time1">
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        Zeit 2
                    </td>
                    <td class="text-center">
                        <input type="checkbox">
                    </td>
                    <td class="text-center">
                        <input type="time" [(ngModel)]="time2">
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        Zeit 3
                    </td>
                    <td class="text-center">
                        <input type="checkbox">
                    </td>
                    <td class="text-center">
                        <input type="time" [(ngModel)]="time3">
                    </td>
                </tr>
                <tr>
                    <td class="text-center">
                        Zeit 4
                    </td>
                    <td class="text-center">
                        <input type="checkbox">
                    </td>
                    <td class="text-center">
                        <input type="time" [(ngModel)]="time4">
                    </td>
                </tr>
            </table>
        </div>
        <div class="col-sm-9">
            <img src="/assets/Wolf.png" width="400" alt="Wolfi">
        </div>
    </div>
</div>