<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8">
            <div class="container-fluid">
                <div class="jumbotron">
                    <p>
                        {{statusmessage}}
                    </p>
                </div>
                <div *ngIf="warning" class="alert alert-warning alert-dismissable fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                    <strong>Warning! </strong>{{warning_message}}
                </div>
                <div *ngIf="danger" class="alert alert-danger alert-dismissable fade show" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
                    <strong>Error! </strong>{{error_message}}
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <h2 class="text-center">Fütterungszeiten</h2>
            <div class="container-fluid">
                <table class="table">
                    <tbody>
                        <tr>
                            <td class="text-right">
                                <h4>Zeit 1:</h4>
                            </td>
                            <td>
                                <span class="btn btn-secondary">{{time1}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">
                                <h4>Zeit 2:</h4>
                            </td>
                            <td>
                                <span class="btn btn-secondary">{{time2}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">
                                <h4>Zeit 3:</h4>
                            </td>
                            <td>
                                <span class="btn btn-secondary">{{time3}}</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right">
                                <h4>Zeit 4:</h4>
                            </td>
                            <td>
                                <span class="btn btn-secondary">{{time4}}</span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <a class="fixed-bottom text-right" href="https://afk.cat/signup?ref=NMYNkIShTYk5"><img src="https://afk.cat/static/img/raf_banner.png" width="10%"></a>
</div>
