<div class="container-fluid">
    <h1>Geräteinformation</h1>
</div>
<div class="jumbotron container-fluid">
    <div class="col-xs-4">
        <table class="table table-hover">
            <tbody>
                <tr>
                    <td class="text-right">Seriennummer:</td>
                    <td>{{serialnumber}}</td>
                </tr>
                <tr>
                    <td class="text-right">Interner Rechner:</td>
                    <td>{{processor}}</td>
                </tr>
                <tr>
                    <td class="text-right">WLAN Status:</td>
                    <td>{{wlanstate}}</td>
                </tr>
                <tr>
                    <td class="text-right">IP Adresse:</td>
                    <td>{{ipadress}}</td>
                </tr>
                <tr>
                    <td class="text-right">Softwareversion:</td>
                    <td>{{version}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-xs-8">
      
    </div>
</div>
