<div class="container-fluid">
    <h1>Steuerung</h1>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
                <div class="form-check">
                    <label class="form-check-label">
            <input type="checkbox" class="form-check-input"> manuelle Steuerung
          </label>
                </div>
                <div class="container-fluid">
                    <h3>Zylinder</h3>
                    <button class="btn-success">einfahren</button>
                    <button class="btn-danger">ausfahren</button>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="container-fluid">
                    <h3>Förderband</h3>
                    <button class="btn-success">ein</button>
                    <button class="btn-danger">aus</button>
                    <br>
                    <br>
                    <br>
                </div>
                <div class="container-fluid">
                    <h3>Motor</h3>
                    <button class="btn-primary">links</button>
                    <button class="btn-warning">rechts</button>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <div class="col-lg-8">
                <h3>Positions-info</h3>
            </div>
        </div>
    </div>
</div>