<div class="container-fluid">
  <h1 class="bigger-h1">Fütterungszeiten</h1>
  <br>
</div>
<div class="container-fluid bigger">
  <form #time="ngForm" (ngSubmit)="save(time.value)">
    <div class="row">
      <div class="form-group col-sm-6">
        <h2>Zeit 1</h2>
        <div class="input-group input-group-lg">
          <span class="input-group-addon">
            <input type="checkbox" id="check1" name="time1_active" [(ngModel)]="check1">
          </span>
          <input (keyup)="onKey()" type="text" id="time1" name="time1" [(ngModel)]="time1" pattern="(\d{2}|\-\-)\:(\d{2}|\-\-)" minlength="5"
            maxlength="5" #time1_="ngModel">
          <span class="input-group-addon" [hidden]="time1_.pattern || time1_.pristine || time1_.valid" style="background-color: #d9534f">Format: HH:MM</span>
          <span class="input-group-addon" [hidden]="time1Valid" style="background-color: #d9534f">Muss gültige Zeit sein</span>
        </div>
      </div>
      <div class="form-group col-sm-6">
        <h2>Zeit 2</h2>
        <div class="input-group input-group-lg">
          <span class="input-group-addon">
            <input type="checkbox" id="check2" name="time2_active" [(ngModel)]="check2">
          </span>
          <input (keyup)="onKey()" type="text" id="time2" name="time2" [(ngModel)]="time2" pattern="(\d{2}|\-\-)\:(\d{2}|\-\-)" minlength="5"
            maxlength="5" #time2_="ngModel">
          <span class="input-group-addon" [hidden]="time2_.pattern || time2_.pristine || time2_.valid" style="background-color: #d9534f">Format: HH:MM</span>
          <span class="input-group-addon" [hidden]="time2ValidMin || !time1Valid" style="background-color: #d9534f">Muss größer als {{time1}} sein</span>
          <span class="input-group-addon" [hidden]="time2Valid" style="background-color: #d9534f">Muss gültige Zeit sein</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-6">
        <h2>Zeit 3</h2>
        <div class="input-group input-group-lg">
          <span class="input-group-addon">
            <input type="checkbox" id="check3" name="time3_active" [(ngModel)]="check3">
          </span>
          <input (keyup)="onKey()" type="text" id="time3" name="time3" [(ngModel)]="time3" pattern="(\d{2}|\-\-)\:(\d{2}|\-\-)" minlength="5"
            maxlength="5" #time3_="ngModel">
          <span class="input-group-addon" [hidden]="time3_.pattern || time3_.pristine || time3_.valid" style="background-color: #d9534f">Format: HH:MM</span>
          <span class="input-group-addon" [hidden]="time3ValidMin || !time2Valid" style="background-color: #d9534f">Muss größer als {{time2}} sein</span>
          <span class="input-group-addon" [hidden]="time3Valid" style="background-color: #d9534f">Muss gültige Zeit sein</span>
        </div>
      </div>
      <div class="form-group col-sm-6">
        <h2>Zeit 4</h2>
        <div class="input-group input-group-lg">
          <span class="input-group-addon">
            <input type="checkbox" id="check4" name="time4_active" [(ngModel)]="check4">
          </span>
          <input (keyup)="onKey()" type="text" id="time4" name="time4" [(ngModel)]="time4" pattern="(\d{2}|\-\-)\:(\d{2}|\-\-)" minlength="5"
            maxlength="5" #time4_="ngModel">
          <span class="input-group-addon" [hidden]="time4_.pattern || time4_.pristine || time4_.valid" style="background-color: #d9534f">Format: HH:MM</span>
          <span class="input-group-addon" [hidden]="time4ValidMin || !time3Valid" style="background-color: #d9534f">Muss größer als {{time3}} sein</span>
          <span class="input-group-addon" [hidden]="time4Valid" style="background-color: #d9534f">Muss gültige Zeit sein</span>
        </div>
      </div>
    </div>
  </form>
  <br>
  <div class="text-center row justify-content-end">
    <div class="btn-group col-lg-3">
      <button type="cancel" class="btn btn-secondary" (click)="cancel()" style="z-index: 1100 !important;">Abbrechen</button>
      <button type="submit" class="btn btn-success" (click)="save()" style="z-index: 1100 !important;" [disabled]="!time.form.valid || !time1Valid || !time2ValidMin || !time2Valid || !time3ValidMin || !time3Valid || !time4ValidMin || !time4Valid">Speichern</button>
      <button class="btn" style="background-color: #2B3E50; z-index: 1090 !important; margin-left: -126px !important; color: #2B3E50">Gespeichert.</button>
      <button *ngIf="saved" class="btn btn-success savedAnimate" [@SaveAnimation]="savedstate" disabled>Gespeichert.</button>
      <button *ngIf="failed" class="btn btn-danger failedAnimate" disabled>Misslungen.</button>
    </div>
  </div>
</div>
