<div class="container-fluid">
    <h1>Fütterungszeiten</h1>
    <br>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3">
            <form #timeForm="ngForm" (ngSubmit)="save(timeForm.value)">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="text-center" scope="col">Zeiten</th>
                            <th class="text-center" scope="col">Aktiv</th>
                            <th class="text-center" scope="col">Uhrzeit</th>
                        </tr>
                    </thead>
                    <tr>
                        <td class="text-center">
                            Zeit 1
                        </td>
                        <td class="text-center">
                            <input type="checkbox" id="check1" name="time1_active" [(ngModel)]="check1">
                        </td>
                        <td class="text-center">
                            <input type="time" id="time1" name="time1" [(ngModel)]="time1" #time1="ngModel" [min]="time4" [max]="time2">
                            <p *ngIf="time1.errors?.min">error message</p>
                            <p *ngIf="time1.errors?.max">error message</p>
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            Zeit 2
                        </td>
                        <td class="text-center">
                            <input type="checkbox" id="check2" name="time2_active" [(ngModel)]="check2">
                        </td>
                        <td class="text-center">
                            <input type="time" id="time2" name="time2" [(ngModel)]="time2">
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            Zeit 3
                        </td>
                        <td class="text-center">
                            <input type="checkbox" id="check3" name="time3_active" [(ngModel)]="check3">
                        </td>
                        <td class="text-center">
                            <input type="time" id="time3" name="time3" [(ngModel)]="time3">
                        </td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            Zeit 4
                        </td>
                        <td class="text-center">
                            <input type="checkbox" id="check4" name="time4_active" [(ngModel)]="check4">
                        </td>
                        <td class="text-center">
                            <input type="time" id="time4" name="time4" [(ngModel)]="time4">
                        </td>
                    </tr>
                </table>
                <div class="btn-group">
                    <button class="btn btn-secondary" (click)="cancel()">Abbrechen</button>
                    <button type="submit" class="btn btn-success">Speichern</button>
                </div>
            </form>
        </div>
    </div>
</div>